.home2{
    background: rgb(252, 246, 244);
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
.in-home2{
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 50%;
    width: 50%;
    background-color: rgb(0, 0, 0);
    height: 100%;
    transition: height 0.5s, width 1s 0.5s;
    z-index: 1;
}